* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body {
    color: white;
    background-color: #001d34;
}

header {
    background-color: #0c161f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.titulo {
    color: #bc9d53;
    font-weight: bolder;
    font-size: 75px;
    font-family: Impact, fantasy;
}

header p {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 45px;
    margin: 10px 0 10px 0;
    background-color: #001d34;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.nfl_img img {
    display: block;
    width: 100%;
    height: auto;

}

.title-pag {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 200;
    color: #001d34;
}

hr {
    width: 25px;
    margin: 10px auto 20px;
    border: 1px solid #0c161f;
}

.text_cont {
    width: 65%;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 15px;
    color: #0c161f;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    background-color: #092037;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

main {
    margin-bottom: 30px;
    background-color: azure;
}

article p {
    font-size: 15px;
    margin-top: 10px;
}

ul,
ol {
    background-color: #092037;
    width: 66%;
    padding: 35px 45px;
    border-radius: 8px;
    color: azure;
}

h4 {
    text-align: center;
}

.container-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
    flex-direction: column;
}

.bonus-table {
    width: 53%;
    border-collapse: collapse;
    text-align: center;
    display: table;
    margin: 20px auto;
}

.bonus-table th {
    background-color: #051321;
    padding: 15px;
    font-size: 0.9rem;
    color: #fefefe;
    text-transform: uppercase;
}

.bonus-table td {
    padding: 15px;
    border-bottom: 1px solid #1a3a5a;
    font-weight: bold;
    color: #001d34;
}

input {
    padding: 08px;
    width: 450px;
    border: 0.5px solid #bdd9ff;
    border-radius: 05px;
    color: #001d34;
}

form {
    color: #001d34;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.botao {
    background-color: #1a3a5a;
    color: white;
    width: 150px;
    margin-bottom: 25px;
}

footer .rodape {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px;
}